<!DOCTYPE html>
<html lang="en" class="h-full">

<head>
    <meta charset="UTF-8">
    <title>Ikna Vocab</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.23/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
{% load lucide %}

<body class="flex flex-col justify-between h-full">
    {% if messages %}
    <div class="fixed top-4 right-4 space-y-2">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <header class="p-2 mb-10 flex flex-col gap-2 w-full bg-slate-200 dark:bg-slate-800">
        <nav class="flex flex-row gap-2 justify-center w-full items-center">
            <a href="{% url 'vocab.practice' %}"
                class="btn btn-outline {% if 'vocab' in request.path or request.session.learning_mode == 'vocab' %}btn-primary{% endif %}">
                Vocab
            </a>
            <a href="{% url 'prompt.new' %}"
                class="btn btn-outline {% if 'prompt' in request.path or request.session.learning_mode == 'prompts' %}btn-primary{% endif %}">
                Prompts
            </a>
        </nav>

        <nav
            class="flex flex-row gap-2 justify-center w-full items-center border-t-2 border-dotted border-gray-400 p-2">
            {% if request.session.learning_mode == 'vocab' %}

            <a href="{% url 'vocab.add' %}"
                class="btn btn-sm btn-outline {% if 'add' in request.path %}btn-primary{% endif %}">
                {% lucide 'file-plus-2' %}
                Add
            </a>
            <a href="{% url 'vocab.practice' %}"
                class="btn btn-sm btn-outline {% if 'interaction' in request.path %}btn-primary{% endif %}">
                {% lucide 'graduation-cap' %}
                Practice
            </a>
            <a href="{% url 'vocab.list' %}"
                class="btn btn-sm  btn-outline {% if 'list' in request.path %}btn-primary{% endif %}">
                {% lucide 'logs' %}
                List
            </a>

            {% elif request.session.learning_mode == 'prompts' %}

            <a href="{% url 'prompt.new' %}"
                class="btn btn-sm btn-outline {% if 'new' in request.path %}btn-primary{% endif %}">
                {% lucide 'file-plus-2' %}
                New Prompt
            </a>
            <a href="{% url 'prompt.add_vocab' %}"
                class="btn btn-sm btn-outline {% if 'add_vocab' in request.path %}btn-primary{% endif %}">
                {% lucide 'blocks' %}
                Add Vocab
            </a>
            <a href="{% url 'prompt.list' %}"
                class="btn btn-sm btn-outline {% if 'list' in request.path %}btn-primary{% endif %}">
                {% lucide 'logs' %}
                Overview
            </a>

            {% endif %}
        </nav>
    </header>
    <main class="flex flex-col items-center gap-2 mx-auto flex-1  p-4">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="flex flex-row gap-2 justify-center p-4 w-full bg-slate-200 dark:bg-slate-800 mt-10">
    </footer>
</body>

</html>