{% extends 'core/base.html' %}
{% block content %}
<h2 class="font-bold">Your prompt:</h2>
<h3 class="font-bold text-2xl">{{ prompt_message }}</h3>

<!-- make two buttons, one to get a new prompt by reloading the page, one that submits POST form to commit the prompt -->
<div class="flex flex-row gap-2">



    <a href="{% url 'prompt.new' %}" class="btn btn-sm btn-outline">Get New Prompt</a>
    <form action="{% url 'prompt.new' %}" method="POST">
        {% csrf_token %}
        <button class="btn btn-sm btn-primary" type="submit">Accept</button>
    </form>

</div>

{% endblock %}